html {
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
    background-color: rgba(0,55,99,1);
    background-blend-mode: soft-light;
}

.wrapper {
    width: 100%;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .song-container {
        color: black;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
        }

        .title {
            .title-text {
                font-size: 6em;
            }
        }
        
        .artist {
            width: 100%;
            .artist-text {
                font-size: 2rem;
            }
        }
    }
}

